<h1 class="country-name">{{name}}</h1>

<div class="container">
    <ul class="info-wrapper">
        <li class="info-item">Capital: <span class="item-value">{{capital}}</span></li>
        <li class="info-item">Population: <span class="item-value">{{population}}</span>
        </li>

        <li class="info-item">Languages:</li>
        <ul class="languages">
            {{#each languages}}
            <li class="language">{{this.name}}</li>
            {{/each}}
        </ul>
    </ul>
    <div class="img-container">
        <img class="flag" src="{{flag}}" alt=""{{name}}"'s flag" />
    </div>
</div>
